body{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	background-color: #ffffff;
}

.header{
	width: 100%;
	height: 50px;
	background-color: #ffffff;
	border-bottom: 3px solid #cccccc;
}

.header h1{
	display:flex;
    align-items: center;
    justify-content: center;
    background-color: #4aaaa5;
    height: 50px;
    padding: 0px 15px;
    color: white;
}

.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #666666;
  text-align: center;
}

.footer p{
	color: white;
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	color: #4aaaa5;
}

hr{
	border-width: 2px solid #dddddd;
}

img#bio-image{
	float: left;
	margin: 0px 5px 5px 0px;
}

.nameHeader{
	float: left;
	margin-left: 125px;
	padding:0px 50px;
}

.container{
	margin: 0 auto;
}

#AboutMe{
	float: left;
	border: 2px solid gray;
	margin-top: 35px;
	margin-left: 125px;
	margin-right: 35px;
	width: 40%;
	padding: 20px;
}

#SocialBox{
	float: left;
	border: 2px solid gray;
	margin-top: 35px;
	padding: 20px;
}


.nav{
	float: right;
	height: 50px;
	margin-right: 125px;
}

.nav ul{
	text-align: center;
    overflow: hidden;
    height: 50px;

}

.nav li a {
    font-size: 14px;
    color: gray;
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
    color: lightblue;
}

.nav li{
	display: inline-block;
	border-right: 2px solid lightgray;
	margin: 15px 0px;
}

.nav li:last-child {
    border-right: none;
}
